.anar{
    width: 1000px;
    height: 100%;
    color: black;
    background: grey;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    margin:200px 100px 100px 200px;
    padding: 7px
}

